$header-background-color: tomato;
$menu-background-color-responsive: steelblue;

.main-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $header-background-color;
    &__logo-container{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__logo{
        width: 42px;
    }
    &__barMenu{
        width: 50%;
        color: #fff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &--hamburger{
        cursor: pointer;
    }
    &__menu-container{
        width: 100%;
        display: flex;
        align-items: flex-start;
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: $menu-background-color-responsive;
        transform: translateY(-100%);
        transition: all ease-out 0.3s;
        &.active {
            transform: translate(0,0);
        }
    }

    &__list-menu{
        width: inherit;   
    }

    &__item{
        width: inherit;
    }

    &__link:hover{
        opacity: 0.7;
    }

    &__link{
        padding: 1rem 0;
        display: block;
        color: #000;
        background-color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        &.active{
            color: #fff;
            background-color: $header-background-color;
            opacity: 1;
        }
    }
}